@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: #243e63;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

/* NAV */

nav {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__container{
    width: 100%;
    max-width: 1280px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    margin: 0 auto;
}

.logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom-width: 0px;
    font-weight: 900;
    margin-left: 0px !important;
    font-size: 1.5rem !important; 
}

.logo__img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.nav__link {
    font-size:14px;
    font-weight: bold;
    padding:0 0 4px;
    margin: 0 24px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--login {
    margin: 0 24px 0 48px;
}

.nav__link--sign-up {
    color: #f7fafc;
    background-color: #6415ff;
    border: 0 solid #6415ff;
    border-radius: 25px;
    padding: 12px 32px;
    transition: all 300ms ease;
}

.nav__link--sign-up:hover {
    background-color: #3e0d9f;
    text-decoration: none;
}