@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FCFDF2;
}

html {
    scroll-behavior: smooth;
}

a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

section:nth-child(odd) {
    background-color: #3B3486;
}

section:nth-child(even){
    background-color: #7743DB;
}

/* Nav */

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7743DB;
    padding: 0 16px
}

.nav__links {
    display: flex;

}

.nav__link {
    margin-left: 16px;
}

.nav__link:hover {
    text-decoration: underline;
}

.logo--img {
    width: 300px;
    filter: grayscale(1) invert(1);
}

/* Header */

header {
    width: 100%;
    max-width: 1200;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.row {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 70px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

.home__description--button {
    font-size: 24px;
    background-color: #FFE9B1;
    border: none;
    border-radius: 1em;
    padding: 16px 24px;
    color: #3B3486;
    font-weight: 900;
    transition: all 250ms ease;
}

.home__description--button:active {
    transform: translatey(1.5px);
}

/* About */

#about {
    background-color: #7743DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.section__description {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
}